.event-form {
    max-width: 500px;
    margin: 0 auto;
}

.fc-header-toolbar {
    padding: 0 15px;
}

a {
    color: #2C3E50;
}

a:hover {
    color: #2C3E50;
}

.fc-event-main {
    color: #2C3E50 !important;
}

.login-form {
    max-width: 380px;
    margin: 0 auto;
}