<header class="py-3 mb-3 border-bottom" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <span th:text="#{app.title}" class="fs-3"></span>
        </a>

        <div class="d-flex align-items-center" sec:authorize="isAuthenticated()">
            <div class="w-100 me-3">
                <div class="fs-4 text-end" th:text="${#authentication.getPrincipal().getUsername()}"></div>
            </div>
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/img/users/default.png}" alt="mdo" width="40" height="40"
                         class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" th:text="#{app.const.logout}" th:href="@{/logout}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<script th:inline="javascript">
    window.app = {};
    window.app.const = {};
    window.app.const.addEvent = [[#{app.const.addEvent}]];
    window.app.const.today = [[#{app.const.today}]];
    window.app.const.selectDateAndTime = [[#{app.const.selectDateAndTime}]];
    window.app.const.pick = [[#{app.const.pick}]];
    window.app.const.pick = [[#{app.const.pick}]];
    window.app.const.memberEmailPlaceholder = [[#{app.const.memberEmailPlaceholder}]];
    window.app.const.remove = [[#{app.const.remove}]];
</script>
