<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/src/styles.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon/favicon.ico}" type="image/x-icon">
    <title th:text="#{app.const.loginTitle}"></title>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header.html"></th:block> /*/-->
<div class="container">
    <form action="/login" method="post" class="login-form">
        <form>
            <div th:if="${param.successLogout}" th:text="#{app.const.successLogoutMessage}" class="alert alert-success" role="alert"></div>
            <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" class="alert alert-danger" role="alert">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>
            <fieldset>
                <legend th:text="#{app.const.loginTitle}"></legend>
                <div class="mb-3">
                    <label for="username" class="form-label" th:text="#{app.const.username}"></label>
                    <input name="username" type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" th:text="#{app.const.password}"></label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{app.const.loginAction}"></button>
            </fieldset>
        </form>
    </form>
</div>
</body>
</html>
